@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

body{
    background-image: 
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
        url(../img/background_login.svg);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
}

body, html, *{
    margin: 0;
    transition: all 0.2s;
    font-family: 'Inter', sans-serif;
    padding: 0;
    font-size: 105%;
}
#formCadastro{
    display: block;
}
#formLogin{
    display: none;
}
section{
    position: absolute;
    top: 50%;
    right: 5em;
    transform: translateY(-50%) scale(1);
    width: 30em;
    border-radius: 1.3em;
    padding: 1.5em;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(55.5px);
}

form{
    margin: auto;
    width: 90%;
}
form div{
    width: 100%;
    padding: 0;
}
input{
    padding: 0.8em;
    margin: 1.2em 0 1.2em 0;
    width: 94%;     
    border: 0;
    font-size: 80%;
    filter: drop-shadow(7px 7px 26px rgba(0, 0, 0, 0.44));
    border-radius: 0.7em;
    border-bottom: 2px solid black;
}
.areas{
    width: 100%;
    color: white;
    margin-bottom: 3em;
}
.areas > *{
    width: 49%;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
.send{
    text-align: center;
}
.enviar{
    width: 8em !important;
    padding: 0.5em;
    background: #E30000;
    margin: 1em 0 1em 0;
    border-radius: 17px;
    font-size: 90%;
    filter: drop-shadow(7px 6px 18px rgba(255, 255, 255, 0.4));
    font-weight: bold;
    cursor: pointer;
    padding: 1em;
    color: white;
    border: 0;
}
.inline_input{
    display: table;
}
.inline_input > *{
    width: 42%;
    display: table-cell;
}
#nickname, #confirmPassword{
    float: right;
}
#login{
    color: #ffffff7c;
}
h1{
    font-size: 150%;
    margin-bottom: 1.5em;
    color: white;
}

@media(min-width: 1600px) {
    section{
        transform: t
        ranslateY(-50%) scale(1.2);
    }
}
@media(max-width: 820px){
    section{
        position: relative;
        left: 0;
        right: 0;
        width: 90%;
        margin: auto;
        border-radius: 1em;
        padding: 1em;
    }
}
@media(max-width: 500px){
    .inline_input{
        display: block;
    }
    .inline_input > *{
        width: 90%;
        display: block;
    }
    #nickname, #confirmPassword{
        float: unset;
    }
    input{
        width: 90%;
        margin: 0;
        margin-bottom: 1em;
    }
}
@media(max-width: 300px){
    section{
        font-size: 80%;
    }
}

.validarCadastro, .validarLogin, .validarLoginPassword{
    display: none;
    color: #ff3c00;
    font-size: 80%;
    margin-top: -1em;
}
.validarCadastro > button, .validarLogin > button{
    padding: 0.5em 1em 0.5em 1em;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 1em;
    text-decoration: underline;
    background-color: transparent;
}