a {
    text-decoration: none;
    color: #ffff;
}

.logado{
    font-size: 120%;
    position: fixed;
    display: none;
    padding: 30px;
    font-weight: bold;
    color: white;
    right: 20%;
    top: calc(50% - 6em);
    width: 60%;
    line-height: 300%;
    height: 12em;
    box-shadow: 4px 4px 60px white;
    border-radius: 10px;
    z-index: 2;
    background-color: #4A0000;
}
.logado div{
    display: inline-block;
    vertical-align: middle;
}
.logado div:nth-child(1){
    width:15%;
}
.logado div:nth-child(2){
    margin-left: 5em;
}
.logado img{
    width: 100%;
}
.logado span{
    font-weight: lighter;
}

button {
    border: none;
    color: #ffff;
    cursor: pointer;
}
input {
    border: none;
}

header {
    z-index: 3;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: fixed;
}

header img {
    width: 80%;
}

/* Estilo da forma do header */
.sec-form {
    display: flex;
    width: 100%;
}
.header-pt1 {
    background: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
}
.sec-form div:first-child {
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 15px;
    border-radius: 0px 0px 54px 0px;
}
.sec-form div:nth-child(2) {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    place-items: center;
}
.sec-form div:nth-child(2) span{
    text-align: center;
    color: rgba(255, 255, 255, 0.20);
    font-size: 18px;
    letter-spacing: 36px;
    font-weight: 300;
}
/* Estilo nav do header */
header section:nth-child(2) {
    display: flex;
    position: absolute;
    top: 80px;
    left: 200px;
}
header section:nth-child(2) button:nth-child(2) {    
    width: 166px;
    height: 36px;
    margin-left: 30px;
}
header section:nth-child(2) button:nth-child(3) {
    width: 160px;
    height: 36px;
    margin-left: 15px;
}
header ul li{
    margin-right: 30px;
    list-style: none;
}
header ul {
    display: flex;
    width: 700px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.15);
    border-radius: 60px;
    color: #ffff;
    font-size: 18px;
    justify-content: center;
    place-items: center;
}
header button {
    border-radius: 60px;
    background: #4A0000;
    box-shadow: 0px 4px 40px 0px #000 inset;
}

/* Header2 logado  */
.header-logado{
    display: none;
}
.header-logado div:last-child {
    width: 167px;
    height: 138px;
    border-radius: 0px 0px 0px 40px;
}
.header-logado div:last-child img {
    width: 53px;
    height: 48.473px;
    margin-top: 50px;
    margin-left: 40px;
}
.header-logado section:last-child {
    left: 15%;
}

header ul li:last-child {
    margin-left: 10px;
}

@media (max-width: 820px){
    .sec-form div:first-child {
        padding-left: 30px;
        padding-top: 30px;
    }
    header section:nth-child(2) ul{
        width: 420px;
        padding: 5px;
        font-size: 12px;
    }
    header button {
        font-size: 12px;
    }
    header ul li:last-child {
        margin-right: 10px;
    }
    header section:nth-child(2) button:nth-child(2) {    
        width: 90px;
        height: 36px;
        margin-left: 30px;
    }
    header section:nth-child(2) button:nth-child(3) {
        width: 110px;
        height: 36px;
        margin-left: 15px;
    }
    header section:nth-child(2) {
        top: 70px;
        left: 115px;
    }
    .header-logado div:last-child {
        height: 54px;
        border-radius: 0 0 0 0;
    }
    .header-logado div:last-child {
        height: 54px;
        border-radius: 0 0 0 0;
    }
    .header-logado div:last-child img{
        margin-top: 0;
        margin-left: 20px;
    }
}

@media (max-width: 500px){
    .sec-form div:first-child {
        display: block;
        height: 54px;
        border-radius: 0 0 0 0;
        padding: 0;
    } 
    .sec-form div:first-child  img{
        width: 50px ;
    } 
    header section:nth-child(2) {
        left: 10px;
        
    }
    header section:nth-child(2) ul {
        width: 80%;
        font-size: 10px;
    }
    header section:nth-child(2) button:nth-child(2) {    
        width: 60px;
        height: 36px;
        margin-left: 10px;
        font-size: 10px;
    }
    header section:nth-child(2) button:nth-child(3) {
        width: 90px;
        height: 36px;
        margin-left: 10px;
        font-size: 10px;
    }

    .sec-form div:nth-child(2) span {
        font-size: 10px;
        letter-spacing: 6px;
    }
    .header-logado section:last-child ul {
        width: 330px;
    }
    header section:last-child {
        width: 95%;
        display: block;
    }
    header section:last-child ul {
        width: 95%;
    }
    .header-logado section:last-child {
        left: 0;
    }
    
    
}

@media (max-width: 300px) {
    header div:first-child {
        position: absolute;
        transform: translate(-50%, -50%); /* tcharaaaaaannnnn */
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
    }
    header section:last-child {
        width: 90%;
        display: block;
    }
    header section:last-child ul {
        width: 90%;
        font-size: 8px;
    }
    header section:nth-child(2) button:nth-child(2)  {
        width: 150px;
        height: 25px;
        font-size: 8px;
        margin-top: 10px;
    }
    .header-logado div:last-child {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .header-logado div:last-child img{
        width: 30px;
        height: 30px;
    }
    .header-logado div:last-child img {
        margin: 0;
    }
    

}
