@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Spider-Man;
    src: url(./fonts/font__spider-man.otf);
}
@font-face{
    font-family: titulos;
    src: url(./fonts/font__efeito_titulos.otf);
}

html, body, *{
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0;
}
body{
    min-height: 100vh;
    transition: all 0.2s;
    width: 100vw;
    background-color:#020305;
}
.viloes{
    margin-bottom: -22em;
}

button {
    border: none;
    color: #ffff;
    cursor: pointer;
}
input {
    border: none;
}
#estou-aqui {
    text-decoration: underline #9B0000;
}
body {
    width: 100%;
    height: 100vh;
}
/* Main */
main {
    width: 100%;
}

main img {
    width: 100%;
}
/* Fundo de toda a pagina, foi utilizado apenas uma imagem, pois utilizar uma em cada parte não foi uma ideia bem sucedida */
main {
    background-image: url(../img/entreterimento/personagens__fundo.png);
}
main section:nth-child(1) {
    padding: 0 100px;
    padding-bottom: 50px;
}
main section:nth-child(2){
    padding: 0 80px;
}
#container-nav img{
    width: 178px;
    height: 178px;
}
main #container-nav {
    display: flex;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.05px;
    font-size: 30px;
    align-items: center;
}
main input{
    margin-left: 20px;
    width: 400px;
    height: 61px;
    border-radius: 30px;
    color: #ffff;
    background: #4A0101;
    padding-left: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.79) inset;
}
main h2 {
    text-shadow: 0px 0px 23px 0px rgba(254, 254, 254, 0.72);
    font-size: 190px;
    letter-spacing: 6.65px;
    text-align: center;
    font-family: titulos;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-shadow: 0px 0px 23px 0px rgba(254, 254, 254, 0.72);
    margin-top: 100px;
    color: #0000003a;
    
}
main h3{
    font-family: Spider-Man;
    color: #FFF;
    font-size: 60px;
    letter-spacing: 2.1px;
    margin-left: 20px;
    margin-top: 40px;
}
#flex-categorias {
    display: flex;
} 


#button-pesquisar {
    width: 120px;
    font-size: 12px;
    padding: 5px;
    border-radius: 60px;
    background: #4A0000;
    box-shadow: 0px 4px 40px 0px #000 inset;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

/* Scrolls */

/* Estilização do scrollbar, o segredo que faz ele funcionar */
::-webkit-scrollbar {
    width: 0px;
    height: 100%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    width: 80%;
    width: 100%;
    
}

div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    
}

div.scrollmenu {
    border-left: solid 1px #9B0000;
    border-right: solid 1px #9B0000 ;
}

.imagens {
    width: 304px;
    height: 344px;
    border-radius: 20px;    
    margin-right: 10px;
}


@media (max-width: 1230px) {
    main #container-nav {
        display: block;        
    }
    main #flex-categorias {
        justify-content: center;
    }

    main #pesquisas {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .viloes{
        margin-bottom: -5em;
    }
}


@media (max-width: 820px){
    .sec-form div:first-child {
        padding-left: 30px;
        padding-top: 30px;
    }
    main #container-nav img{
        width: 90px;
        height: 90px;
    }
    main #container-nav h5 {
        font-size: 16px;
    }    
}

@media (max-width: 500px){
    main section:first-child {
        padding: 20px;
    }
    main section:nth-child(2){
        padding:10px;
    }
    main #container-nav img {
        width: 55px;
        height: 55px;
    }
    main #container-nav h5 {
        font-size: 14px;
    }
    main input {
        width: 150px;
        height: 30px;
    }
    main h2 {
        font-size: 90px;
        margin-top: 50px;
    }
    main h3 {
        font-size: 30px;
    }
    main #container-nav div {
        margin-right: 5px;
    }
    .sec-form div:first-child {
        display: none;
    }
    .viloes{
        margin-bottom: 5em;
    }
}

@media (max-width: 300px) {
    main #container-nav{
        display: block;
        text-align: center;
    }
    main #container-nav h5 {
        font-size: 12px;
    }
    main input {
        margin-left: 0;
        margin-top: 20px;
    }
    .imagens {
        width: 200px;
        height: 200px
    }
}
